<?xml version="1.0" encoding="utf-8"?>
<!-- This web.config is for Windows App Service only -->
<!-- Azure Linux App Service uses different configuration -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="wsgi.py" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\python.log" 
                  startupTimeLimit="60" 
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="."/>
        <environmentVariable name="FLASK_ENV" value="production"/>
        <environmentVariable name="FLASK_CONFIG" value="production"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>